.site-button {
  @include button;
  background-color: white;
}
.history a {
  @include button;
}

.banner {
  background: url(../img/background_aside.png) no-repeat;
  background-size: cover;
  background-position: left;

  text-align: center;
  min-height: 700px;
  @include verticalCenter;
  flex-direction: column;

  h2 {
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    color: $venetianRed;
    font-family: $oswald;
    font-size: 116px;
    font-weight: 700;
    line-height: 85.6px;
    text-transform: uppercase;

    span {
      display: block;
      color: $darkCharcoal;
      font-family: $greatVibes;
      font-size: 80px;
      font-weight: 400;
      line-height: 160.5px;
      text-transform: none;
    }
  }
  a {
    @include button;
    background-color: $venetianRed;
    display: inline-block;
  }
}

.introducing {
  h2 {
    color: $darkCharcoal;
    font-family: $oswald;
    font-size: 32px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 3.2px;

    span {
      color: $venetianRed;
      display: block;
      font-family: $greatVibes;
      margin-top: 5px;
    }
  }
  .wraper-angle {
    text-align: right;
  }
  .wraper-angle a {
    display: inline-block;
    background-color: $venetianRed;
    width: 35px;
    height: 35px;
    text-align: center;
  }
  ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-around;
  }
    a {
      text-decoration: none;
    }
  figcaption {
    background-color: $venetianRed;
  }
  .our-members {
    display: flex;
  }
}

.consert-slides {
  h2 {
    color: $darkCharcoal;
    font-family: $oswald;
    font-size: 32px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 3.2px;

    span {
      color: $venetianRed;
      display: block;
      font-family: $greatVibes;
      margin-top: 5px;
    }
  }

  figure {
    display: flex;
    justify-content: space-between;
    min-width: 50%;
  }
  a {
    text-decoration: none;
  }
}

.latest-videos {
  h2 {
    color: $darkCharcoal;
    font-family: $oswald;
    font-size: 32px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 3.2px;

    span {
      color: $venetianRed;
      display: block;
      font-family: $greatVibes;
      margin-top: 5px;
    }
  }

}
.slides-videos-container {
  display: flex;
  justify-content: space-between;
  min-width: 25%;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

  }

  a {
    background-color: $venetianRed;
    color: white;
    margin-top: 10px;
  }

  table {
    margin-bottom: 20px;
  }
}

.history {
  background: url(../img/background_history.png) no-repeat;
  background-size: cover;
  padding: 80px;

  h2 {
    color: white;
    padding-top: 40px;
    font-family: $oswald;
    font-size: 32px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
  }
  p {
    color: white;
    font-family: $droidSans;
    line-height: 50px;
  }

  span {
    font-family: $greatVibes;
    font-size: 65px;
    font-weight: 400;
    line-height: 30px;
  }

  .site-button {
    text-decoration: none;
  }

}
.songs-intagram-container {
  display: flex;
  justify-content: space-between;

  h2 {
    color: $darkCharcoal;
    font-family: $oswald;
    font-size: 32px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 3.2px;

    span {
      color: $venetianRed;
      display: block;
      font-family: $greatVibes;
      margin-top: 5px;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }


}

.inst {
  max-width: 30%;

  li {
    display: inline-block;
  }
}

.popular_songs {
  ol {
    margin: 0;
    padding: 0;
  }
}

.songs-list{
  display: flex;
  justify-content: space-between;

  ol {
    display: inline-block;
  }
}

.download {
  background: url(../img/background_download.png) no-repeat;
  background-size: cover;
  padding: 75px 0 100px 0;
  text-align: center;

  h2 {
    margin: 15px 0 auto;

    color: white;
    font-family: $oswald;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
  }
  p {
    color: white;
    font-family: $droidSans;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.1px;
  }
}

.bottom-line {
  margin: 0 auto;
  max-width: 50%;
  display: flex;
  justify-content: space-between;
  border-bottom: #282828 solid 3px ;
  h2 {
    color: #282828;
    font-family: $droidSans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.88px;
    letter-spacing: 3.2px;
  }
}

footer nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  li {
    display: inline-block;
  }

  a {
    text-decoration: none;
  }

}