header {
  background-color: $venetianRed;
  font-family: $droidSans;
}

.site-button {
  @include button;
  background-color: white;
}

header nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  li { display: inline-block; }

  a {
    display: block;
    text-decoration: none;
  }
}
