header {
  background-color: $venetianRed;
  font-family: $droidSans;
  padding: 0 10px;
}

.site-button {
  @include button;
  background-color: white;
}

header nav {
     ul {
       margin: 0;
       padding: 0;
       list-style: none;
       display: flex;
       justify-content: space-between;
     }

     li { display: inline-block; }

     a {
       display: block;
       text-decoration: none;
     }
  h1 {
    margin: 12px 0;
  }

  .main-nav, .logo a, .extra_nav li, .extra_nav {
  @include verticalCenter;
  }

  .main-nav li, .extra_nav li {
    margin-left: 5px;
    margin-right: 5px;
  }


}
